<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == ''}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />



    <!-- loops through the array -->
    <div th:fragment="list-jobs">
        <div th:each="arrayJobs: ${jobs}">
            <!-- loops through the hashmap -->
            <table class="job-listing"  >
                <tr th:each="jobEntry : ${arrayJobs}">
                    <td th:text="${jobEntry.key}"></td>
                    <td th:text="${jobEntry.value}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>